<nav class="navbar navbar-dark bg-black">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img class="logo-img" src="/public/img/logo.png" alt="logovich">
    </a>
  </div>
</nav>